div.search-bar{
    
}

div#search-history-container{
    display: flex;
    flex-direction: column;

}
div#search-history-container button{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: antiquewhite;
}
div#card-right{
    display: grid;
    float: right;
    height: fit-content;

}
div#display-cards{
    display: flex;
    flex-direction: inherit;
    width: 100%;
    height: 100vh;
}
div#forcast-row{
    display: flex;
    flex-direction: column;
}
div#card-holder{
    flex-direction: row;
    display: flex;
    height: fit-content;
    margin-right: 15px;
}
div#card-holder < children{
    margin-right: 10px;
}